/* General Styles */

body {
  font: 10px sans-serif;
  background-color: #fefbf8;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Scatter Plot */

#scatter-plot {
	position: absolute;
	margin-top: 50px;
}

.dot {
  stroke: #000;
}

.dot:hover {
	cursor: pointer;
}

/* Bar Chart */

#bar-chart {
	position: absolute;
	margin-top: 50px;
	margin-left: 960px;
}

.bar {
  /*fill: steelblue;*/
}

.bar:hover {
  /*fill: brown;*/
}

.bartext {
	fill: orange;
}

/* Slider */

#slider-range {
	position: absolute;
	margin-top: 550px;
	margin-left: 80px;
	width: 880px;
}

/* Elements */

.page-title {
	margin: 0px;
}

.page-title-panel-body {
	padding: 8px;
}

#search {
	margin-top: 10px;
	position: absolute;
	margin-left: 80px;
	width: 880px;
}

#websummary{
  position:absolute;
  /*margin-top: 570px;*/
  margin-left: 15px;
  width:  325px;
  /*background-color: #fcf5eb;*/
  background-color: white;
  border-radius: 2px;
}

/* Search Results */
.search-result {
	stroke-width: 2;
	stroke: gold;
}

/* Custom Bootstrap */

.container {
	margin: 0px;
	width: 100%;
}

.graph-container {
	height: 575px;
}

.graph-container .panel-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
