/* General Styles */

body {
  font: 10px sans-serif;
  background-color: #fefbf8;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Scatter Plot */

#scatter-plot {
	position: absolute;
	margin-top: 50px;
}

.dot {
  stroke: #000;
}

.dot:hover {
	cursor: pointer;
}

.hide {
	display: hidden;
}

/* Bar Chart */

#bar-chart {
	position: absolute;
	margin-top: 50px;
	margin-left: 960px;
	width: 400px;
}

.bar {
  /*fill: steelblue;*/
}

.bar:hover {
  /*fill: brown;*/
}

.bartext {
	fill: orange;
}

/* Slider */

#slider-range {
	position: absolute;
	margin-top: 550px;
	margin-left: 80px;
	width: 880px;
}

/* Page Title */

.page-title {
	margin: 0px;
}

.page-title-panel-body {
	padding: 8px;
}

/* Search Bar */

#search {
	margin-top: 10px;
	position: absolute;
	margin-left: 80px;
	width: 880px;
}

/* Category Dropdown */

#category-dropdown-container {
	position: absolute;
	margin-top: 10px;
	margin-left: 960px;
	width: 400px;
}

.categories-btn {
	width: 322px;
	padding: 0px!important;
	margin: 0px!important;
	color: rgba(0,0,0, 0.87);
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	display: inline-block;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
}

ul.dropdown-menu {
	width: 410px;
}

.category-li-container {
	display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.category-li-text {
	padding: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 0;
	color: black;
}

/* Details on Demand */

#websummary{
  position:absolute;
  margin-left: 15px;
  width:  325px;
  background-color: white;
  border-radius: 2px;
}

/* Data Table */

#data-header th {
	border-top-width: 0px!important;
}

#table-panel {
  position:absolute;
  margin-left: 355px;
  height: 134px; /* Same as #websummary */
  width: 1070px;
  background-color: white;
  border-radius: 2px;
}

#table-panel .panel-heading {
	padding-top: 4px;
	padding-bottom: 4px;
}

#table-panel .panel-body {
	height: 86px; /* #table-panel height - .panel-heading height */
	padding-top: 0px;
	margin-top: -1px;
	overflow: scroll;
}

#data-table {
  overflow-y: scroll;
}

#data-header tbody, #data-table tbody {
	/*width: 1055px;*/
}

#data-header.table {
	margin-bottom: 0px;
}

th, td {
	width: 148px;
}


/* Search Results */
.search-result {
	stroke-width: 2;
	stroke: gold;
}

/* Custom Bootstrap */

.container {
	margin: 0px;
	width: 1440px;
}

.graph-container {
	height: 575px;
}

.graph-container .panel-body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.panel {
	margin-bottom: 15px;
}
