/* General Styles */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Scatter Plot */

.dot {
  stroke: #000;
}

.dot:hover {
	cursor: pointer;
}

/* Bar Chart */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}